name: Generate Keystore

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
      safe_app:
        required: true
        type: string
      overwrite:
        required: true
        type: boolean
    outputs:
      action_type:
        value: ${{ jobs.gen.outputs.action_type }}

jobs:
  gen:
    runs-on: ubuntu-24.04
    outputs:
      action_type: ${{ steps.detect.outputs.action }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: dart-lang/setup-dart@v1

      - id: detect
        run: |
          if [ -d "apps/${{ inputs.safe_app }}" ]; then
            echo "action=UPDATE" >> $GITHUB_OUTPUT
          else
            echo "action=CREATE" >> $GITHUB_OUTPUT
          fi

      - run: |
          ARGS="--ci"
          if [ "${{ inputs.overwrite }}" = "true" ]; then
            ARGS="$ARGS --overwrite"
          fi

          dart generate_keystore.dart $ARGS
        env:
          CI: true
          APP_NAME: ${{ inputs.app_name }}
