name: Normalize App Name

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
    outputs:
      safe_app:
        value: ${{ jobs.normalize.outputs.safe_app }}

jobs:
  normalize:
    runs-on: ubuntu-latest
    outputs:
      safe_app: ${{ steps.norm.outputs.safe_app }}

    steps:
      - id: norm
        run: |
          SAFE_APP=$(echo "${{ inputs.app_name }}" | sed 's/[^a-zA-Z0-9_-]/_/g')
          echo "safe_app=$SAFE_APP" >> $GITHUB_OUTPUT
