name: Android Keystore

on:
  workflow_dispatch:
    inputs:
      app_name:
        required: true
        type: string
      keystore_password:
        required: false
        type: string
      overwrite:
        required: true
        default: false
        type: boolean
      commit_to_repo:
        required: true
        default: true
        type: boolean

permissions:
  contents: write

jobs:
  keystore:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/normalize
        with:
          app_name: ${{ inputs.app_name }}

      - uses: ./.github/actions/password
        with:
          keystore_password: ${{ inputs.keystore_password }}

      - uses: ./.github/actions/generate
        with:
          overwrite: ${{ inputs.overwrite }}

      - uses: ./.github/actions/history

      - uses: ./.github/actions/commit
        if: ${{ inputs.commit_to_repo }}
