name: Generate Android Keystore

on:
  workflow_dispatch:
    inputs:
      app_name:
        description: "App name (folder under apps/)"
        required: true
        type: string

      keystore_password:
        description: "Keystore password"
        required: true
        type: string

      key_password:
        description: "Key password (leave empty = same as keystore password)"
        required: false
        type: string

      verify:
        description: "Verify keystore"
        required: false
        default: false
        type: boolean
