name: Android Keystore Orchestrator

on:
  workflow_dispatch:
    inputs:
      app_name:
        required: true
        type: string

      keystore_password:
        required: false
        type: string

      overwrite:
        required: true
        default: false
        type: boolean

      commit_to_repo:
        required: true
        default: true
        type: boolean

permissions:
  contents: write

jobs:
  normalize:
    uses: ./.github/workflows/normalize-app.yml
    with:
      app_name: ${{ inputs.app_name }}

  password:
    needs: normalize
    uses: ./.github/workflows/resolve-password.yml
    with:
      keystore_password: ${{ inputs.keystore_password }}

  generate:
    needs: [normalize, password]
    uses: ./.github/workflows/generate-keystore.yml
    with:
      app_name: ${{ inputs.app_name }}
      safe_app: ${{ needs.normalize.outputs.safe_app }}
      overwrite: ${{ inputs.overwrite }}

  history:
    needs: generate
    if: ${{ inputs.commit_to_repo }}
    uses: ./.github/workflows/update-history.yml
    with:
      safe_app: ${{ needs.normalize.outputs.safe_app }}
      action_type: ${{ needs.generate.outputs.action_type }}

  commit:
    needs: history
    if: ${{ inputs.commit_to_repo }}
    uses: ./.github/workflows/commit-changes.yml
    with:
      safe_app: ${{ needs.normalize.outputs.safe_app }}
      action_type: ${{ needs.generate.outputs.action_type }}
